{% set notification_str = "お弁当の販売は、2021年7月30日をもちまして終了しました。ご利用、ありがとうございました。なお、販売終了に伴い、2021年8月31日以降、アカウントへのアクセスと、お問い合わせへの対応ができなくなります。ご注意ください。" %}
{% set page_title = "トップ" %}
{% set page_description = "筑波技術大学春日キャンパス学食弁当予約取次システム（Bento Reservation Terminal）トップページ。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    {% if notification_str!="" %}
        <div class="m-1">お知らせ : {{ notification_str }}</div>
    {% endif %}

    <div class="jumbotron bg-warning text-center d-none d-sm-block">
        {% if day!=NULL %}
            <h2>{{ day }}のメニュー</h2>
        {% else %}
            <h2>表示できるメニューがありません</h2>
        {% endif %}
    </div>
    
    <div class="bg-warning py-3 text-center d-sm-none">
        {% if day!=NULL %}
            <h2>{{ day }}のメニュー</h2>
        {% else %}
            <h2>表示できるメニューがありません</h2>
        {% endif %}
    </div>

    {% if attribute(session, "brt-userId")==NULL %}
        <div>
            <p>メニューを予約するには、<a href="{{ get_base_path() }}/login">ログイン</a>が必要です。はじめての方は、<a href="{{ get_base_path() }}/entry">ユーザー登録</a>を行ってください。</p>
        </div>
    {% endif %}

    {% for b in bentoArray %}
        <div class="container my-3">
            <form method="post" action="{{ get_base_path() }}/order" autocomplete="off">
                <div class="row">
                    <div class="col-12 bg-dark text-white px-2 py-1">
                        <h3 class="px-0 py-0 my-0">{{ b.name }}</h3>
                    </div>
                    <div class="col-12 col-sm-8 px-1 py-1">
                        <p>{{ b.discription|nl2br }}</p>
                    </div>
                    <div class="col-12 col-sm-4 px-1 py-1">
                        <p>{{ b.price }}円</p>
                        <p>{{ b.startSaleStr }}から{{ b.saleLengthMinuteOnly }}分間販売</p>
                        <p>{{ b.orderDeadlineStr }}予約締切</p>
                    </div>
                </div>
                {% if attribute(session, "brt-userId")!=NULL %}
                    <div class="row">
                        {% if b.orderDeadlineStatus!=NULL %}
                            <div class="col-12 text-right"><p>{{ b.orderDeadlineStatus }}</p></div>
                        {% else %}
                            <div class="col-12 text-right"><p>
                                <label><select name="serving">
                                    {% for key, val in b.servingArray %}
                                        <option value="{{ key }}">{{val}}</option>
                                    {% endfor %}
                                </select></label>
                                <span class="mx-1"><input type="number" min="1" max="99" step="1" name="quantity" value="1">個</span>
                                <button type="submit" name="orderTarget" value="{{ b.id }}" class="button btn-success text-white px-3 py-1">予約</button>
                            </p></div>
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>
    {% endfor %}

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
