{% set page_title = "トップ" %}
{% set page_description = "筑波技術大学春日キャンパス学食弁当予約取次システム（Bento Reservation Terminal）トップページ。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    <div class="jumbotron bg-warning text-center d-none d-sm-block">
        {% if day!=NULL %}
            <h2>{{ day }}のメニュー</h2>
        {% else %}
            <h2>表示できるメニューがありません</h2>
        {% endif %}
    </div>
    <div class="bg-warning py-3 text-center d-sm-none">
        {% if day!=NULL %}
            <h2>{{ day }}のメニュー</h2>
        {% else %}
            <h2>表示できるメニューがありません</h2>
        {% endif %}
    </div>


    {% for b in bentoArray %}
        <div class="container my-3">
            <form method="post" action="{{ get_base_path() }}/order" autocomplete="off">
                <div class="row">
                    <div class="col-12 bg-dark text-white px-2 py-1">
                        <p class="px-0 py-0 my-0">{{ b.name }}</p>
                    </div>
                    <div class="col-12 col-sm-8 px-1 py-1">
                        <p>{{ b.discription|nl2br }}</p>
                    </div>
                    <div class="col-12 col-sm-4 px-1 py-1">
                        <p>{{ b.startSaleStr }}から{{ b.saleLengthMinuteOnly }}分間販売</p>
                        {% if orderDeadlineStr==NULL %}
                            <p>予約できません</p>
                        {% else %}
                            <p>{{ b.orderDeadlineStr }}予約締切</p>
                        {% endif %}
                    </div>
                </div>
                {% if orderDeadlineStr!=NULL %}
                    <div class="row">
                        {% if attribute(session, "brt-userId")==NULL %}
                            <div class="col-12 text-right"><p>予約には、ログインが必要です。</p></div>
                        {% else %}
                            <div class="col-4 col-sm-3 col-md-2 offset-sm-3 offset-md-6 text-right px-0"><label><input type="checkbox" name="unlock" value="yes">予約確認</label></div>
                            <div class="col-4 col-sm-3 col-md-2 text-right px-0"><input type="number" min="1" max="99" step="1" name="quantity" value="1">個</div>
                            <div class="col-4 col-sm-3 col-md-2 text-right px-0"><button type="submit" name="orderTarget" value="{{ b.id }}" class="button btn-success text-white px-3 py-1">予約</div></div>
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>
    {% endfor %}

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
