{% set page_title = "ユーザー登録完了" %}
{% set page_description = "BRT - 新規ユーザー登録の完了通知。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    <div class="jumbotron bg-warning text-center d-none d-sm-block">
        <h2>ユーザー登録完了</h2>
    </div>
    <div class="bg-warning py-3 text-center d-sm-none">
        <h2>ユーザー登録完了</h2>
    </div>

    <div class="h2 text-center">
        <h3>BRTへようこそ！</h3>
        <p>以下の内容で登録しました。</p>
    </div>

    <div class="container py-5">
        <div class="row mb-3">
            <label class="col-3">メールアドレス</label>
            <label class="col-9">{{ mail }}</label>
        </div>
        <div class="row mb-3">
            <label class="col-3">セイ</label>
            <label class="col-9">{{ lastName }}</label>
        </div>
        <div class="row mb-3">
            <label class="col-3">メイ</label>
            <label class="col-9">{{ firstName }}</label>
        </div>
        {% if studentNo!=NULL and studentNo!="" %}
            <div class="row mb-3">
                <label class="col-3">学籍番号</label>
                <label class="col-9">{{ studentNo }}</label>
            </div>
        {% endif %}
        <div class="row mb-3">
            <label class="col-3">ログイン用URL</label>
            <label class="col-9"> {{ url }}</label>
        </div>
    </div>

    <p>※ログイン用URLを使用すると、ユーザー名とパスワードによる認証を省略できます。ブックマークなどに登録しておくと便利です。</p>
    <p>※ログイン用URLやパスワードは、他人に知られないように十分ご注意ください。不正な利用が認められた場合は、安全のため、アカウントを削除させていただく場合があります。</p>

    <div class="text-center my-4">
        <a class="btn btn-success mx-4" role="button" href="{{ get_base_path() }}/">トップページへ</a>
    </div>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
