{% set page_title = "メニュー / 予約" %}
{% set page_description = "BRT - 弁当メニューの表示と予約。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    <div class="jumbotron bg-warning text-center d-none d-sm-block">
        <h2>メニュー表示／予約</h2>
    </div>
    <div class="bg-warning py-3 text-center d-sm-none">
        <h2>メニュー表示／予約</h2>
    </div>

    <p>日付ごとのメニューを表示しています。販売日を選択して表示ボタンを押すと、選択した日付に更新されます。{% if attribute(session, "brt-userId")==NULL %}弁当の予約には、ログインが必要です。{% endif %}</p>
    
    <div class="container my-3">
        <div class="row my-3">
            <div class="container col-12 col-sm-10 order-sm-1"><form method="post" autocomplete="off">
                <div class="row my-2">
                    <div class="col-12">
                        <label class="mx-1 my-auto">表示する販売日<select class="mx-1 my-auto" name="showSaleDate" required>
                            {% for d in saleDateArray %}
                                {% if d.unix==saleDate %}
                                    <option value="{{ d.unix }}" selected>{{ d.str }}</option>
                                {% else %}
                                    <option value="{{ d.unix }}">{{ d.str }}</option>
                                {% endif %}
                            {% endfor %}
                        </select></label>
                        <input type="submit" class="button btn-success text-white mx-1" name="submit" value="表示">
                    </div>
                </div>
            </form></div>
        </div>

    </div>
    {% for b in bentoArray %}
        <div class="container my-3">
            <form method="post" action="{{ get_base_path() }}/order" autocomplete="off">
                <div class="row">
                    <div class="col-12 bg-dark text-white px-2 py-1">
                        <p class="px-0 py-0 my-0">{{ b.name }}</p>
                    </div>
                    <div class="col-12 col-sm-8 px-1 py-1">
                        <p>{{ b.discription|nl2br }}</p>
                    </div>
                    <div class="col-12 col-sm-4 px-1 py-1">
                        <p>{{ b.startSaleStr }}から{{ b.saleLengthMinuteOnly }}分間販売</p>
                        {% if b.orderDeadlineStr==NULL %}
                            <p>予約できません</p>
                        {% else %}
                            <p>{{ b.orderDeadlineStr }}予約締切</p>
                        {% endif %}
                    </div>
                </div>
                {% if b.orderDeadlineStr!=NULL %}
                    <div class="row">
                        {% if attribute(session, "brt-userId")==NULL %}
                            <div class="col-12 text-right"><p>予約には、ログインが必要です。</p></div>
                        {% else %}
                            <div class="col-4 col-sm-3 col-md-2 offset-sm-3 offset-md-6 text-right px-0"><label><input type="checkbox" name="unlock" value="yes">予約確認</label></div>
                            <div class="col-4 col-sm-3 col-md-2 text-right px-0"><input type="number" min="1" max="99" step="1" name="quantity" value="1">個</div>
                            <div class="col-4 col-sm-3 col-md-2 text-right px-0"><button type="submit" name="orderTarget" value="{{ b.id }}" class="button btn-success text-white px-3 py-1">予約</div></div>
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>
    {% endfor %}

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
